<div style="text-align:center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMzOqHK09HqrHoJuUpMT2x22IVO7neezMEa_46juyvqbjvZzLtloG0rwjXU8ZBGZ1A_EY&usqp=CAU" alt="img-agenda" style="border-radius: 50%; margin-top: 50px";></div>
<br>
<div class="card" >
    <div class="card card-body" style="background-color: rgb(159, 150, 228)">
        <h1 style="color: white">Por que devemos Gerenciar nossas tarefas do dia a dia?</h1>
        <p class="card-body"style="color: white"><strong>Gerenciar nossas tarefas do dia a dia é essencial para maximizar a produtividade, otimizar o tempo e alcançar nossos objetivos de forma eficaz. O gerenciamento de tarefas nos permite ter controle sobre nossas atividades, estabelecer prioridades claras e garantir que todas as responsabilidades sejam cumpridas de maneira organizada. Aqui estão alguns motivos pelos quais devemos gerenciar nossas tarefas diárias:</strong>

        <ul>
            <li style="color: white"><strong>Eficiência: Gerenciar nossas tarefas nos ajuda a ser mais eficientes na execução de nossas atividades. Ao planejar e organizar nosso dia, podemos identificar quais tarefas são mais importantes e priorizá-las de acordo. Isso nos permite aproveitar ao máximo nosso tempo, evitando a procrastinação e a sensação de sobrecarga.</strong></li><br>
            <li style="color: white"><strong>Produtividade: O gerenciamento de tarefas nos ajuda a aumentar nossa produtividade. Ao estabelecer metas claras e definir prazos realistas para cada tarefa, somos capazes de concentrar nossos esforços e energia de forma direcionada. Isso nos permite concluir as tarefas de maneira mais eficiente e ter um senso de realização ao ver o progresso que estamos fazendo.</strong></li><br>
            <li style="color: white"><strong>Redução do estresse: Quando nossas tarefas estão desorganizadas e sem gerenciamento adequado, é comum sentir-se estressado e sobrecarregado. O gerenciamento de tarefas nos ajuda a evitar o acúmulo de trabalho e a sensação de estar constantemente correndo contra o tempo. Ao ter uma visão clara do que precisa ser feito e estabelecer um plano de ação, podemos lidar com nossas responsabilidades de forma mais tranquila e eficiente.</strong></li><br>

            <li style="color: white">
                <strong>
                    Foco e concentração: Ao gerenciar nossas tarefas, podemos estabelecer um cronograma ou uma lista de afazeres que nos permite focar em uma tarefa de cada vez. Isso evita a dispersão e ajuda a manter a concentração no que estamos fazendo, aumentando nossa eficácia e qualidade de trabalho.
                    Acompanhamento do progresso: Gerenciar tarefas nos permite acompanhar o progresso de nossas atividades. Ao registrar e atualizar o status de cada tarefa, podemos visualizar o que já foi concluído e o que ainda precisa ser feito. Isso nos ajuda a ter uma visão geral de nosso trabalho e a identificar quaisquer desvios ou atrasos, permitindo-nos tomar medidas corretivas a tempo.
                </strong>
            </li><br>
            <li style="color: white">
                <strong>
                    Autogerenciamento: Ao gerenciar nossas tarefas diárias, desenvolvemos habilidades de autogerenciamento, como a capacidade de estabelecer prioridades, definir metas realistas e organizar nosso tempo de maneira eficiente. Essas habilidades são valiosas em todos os aspectos de nossa vida, tanto pessoal quanto profissional.
                    Em resumo, o gerenciamento de tarefas do dia a dia é fundamental para garantir eficiência, produtividade e redução do estresse. Ao planejar, priorizar e acompanhar nossas atividades, podemos aproveitar ao máximo nosso tempo, alcançar nossos objetivos e manter o equilíbrio entre trabalho e
                </strong>
            </li>
        </ul>
        <div style="text-align:center">
            <a href="/admin/tarefas/{{user.email}}"><button class="btn btn-success">Começar</button></a>
        </div>
    </div>
</div>