<div style="text-align:center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMzOqHK09HqrHoJuUpMT2x22IVO7neezMEa_46juyvqbjvZzLtloG0rwjXU8ZBGZ1A_EY&usqp=CAU" alt="img-agenda" style="border-radius: 50%; margin-top: 40px";></div>
<br>
<div class="card card-body" style="background-color: rgb(159, 150, 228);">
    <div class="card-body">
        <h1 style="color: rgb(255, 255, 255)">Pontuação</h1>
        <small style="color: white;"><strong>Total de tarefas: {{tarefas}}</strong> </small><br>
        <small style="color: white;"><strong>Tarefas concluidas: {{totalConcluido}}</strong></small><br>
        <small style="color: white;"><strong>Pontuação: {{pontos}}</strong></small>
        <br>
    </div>
</div>
<br>
<div class="card card-body" style="background-color: rgb(159, 150, 228);">
    <div class="card-body">
        <h1 style="color: white">Como funciona a pontuação?</h1>
        <p style="color: white"><strong>Uma pontuação que multiplica o número de tarefas concluídas por 10 é uma forma de atribuir um valor numérico às tarefas realizadas e criar uma métrica que recompensa a conclusão de tarefas. Essa pontuação pode ser usada para medir o desempenho, motivação e produtividade de uma pessoa ou equipe.</strong>
        </p>

        <p style="color: white"><strong>A pontuação funciona da seguinte maneira:</strong></p>

        <ul>
            <li style="color: white
"><strong>Cada tarefa concluída recebe um valor base de 1 ponto.</strong></li>
            <li style="color: white
">
                <strong>
                    A pontuação é calculada multiplicando o número de tarefas concluídas pelo valor base de 1.
                    Por exemplo, se você concluir 5 tarefas, sua pontuação seria 5 x 10 = 50 pontos.
                </strong>
            </li>
            <li style="color: white
"><strong>Quanto mais tarefas você concluir, maior será sua pontuação. Isso cria um incentivo para realizar e concluir mais tarefas.</strong></li>
            <li style="color: white
"><strong>Essa pontuação pode ser usada para acompanhar o progresso ao longo do tempo e comparar a produtividade entre diferentes períodos ou membros de uma equipe.</strong></li>
            <li style="color: white
"><strong>Ela pode ser usada como uma medida de desempenho individual ou coletivo, incentivando a conclusão de tarefas e promovendo um senso de realização.</strong></li>
            <li style="color: white
"><strong>Além disso, a pontuação pode ser combinada com outros critérios de avaliação, como a complexidade das tarefas, para obter uma métrica mais completa.</strong></li>
        </ul>
        <p style="color: white"><strong>É importante ressaltar que essa pontuação é uma métrica arbitrária e subjetiva. Seu valor pode variar de acordo com as necessidades e objetivos específicos de uma pessoa ou equipe. Portanto, é fundamental estabelecer critérios claros e transparentes para a atribuição da pontuação, garantindo que ela seja justa e adequada aos propósitos desejados.</strong></p>
        
    </div>
</div>