<div style="text-align:center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMzOqHK09HqrHoJuUpMT2x22IVO7neezMEa_46juyvqbjvZzLtloG0rwjXU8ZBGZ1A_EY&usqp=CAU" alt="img-agenda" style="border-radius: 50%; margin-top: 50px"></div>
<br>
<div style="background-color: #ffffff" class="p-5 rounded-lg m-3">
  <h1 class="display-4">Seja Bem vindo ao Daily Taskes!</h1>
  <p class="lead">O Daily Tasks é uma ferramenta que vai te ajudar a organizar, e acompanhar o seu progresso nas tarefas do dia-dia. Ela permite criar listas de tarefas, definir prazos, e marca-las como concluída, e adicionar notas.</p>
  <hr class="my-4">
  <p>Clique em criar conta e comece já!</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">criar conta</a>
</div>


