<div style="text-align:center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMzOqHK09HqrHoJuUpMT2x22IVO7neezMEa_46juyvqbjvZzLtloG0rwjXU8ZBGZ1A_EY&usqp=CAU" alt="img-agenda" style="border-radius: 50%;margin-top:50px"></div>
<br>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/esqueceusenha/" method="post">
            <label for="email">Email: </label>
                <input type="email" name="email" id="email" class="form-control" required placeholder="informe o email">
                <br>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
</div>