<div style="text-align:center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMzOqHK09HqrHoJuUpMT2x22IVO7neezMEa_46juyvqbjvZzLtloG0rwjXU8ZBGZ1A_EY&usqp=CAU" alt="img-agenda" style="border-radius: 50%;margin-top: 50px"></div>
<br>
<div class="card">
    <div class="card-body" style="background-color:#ffffff">
        <form action="/usuarios/login" method="post">
            <label for="email">Email: </label>
                <input type="email" class="form-control" name="email" required>
            <label for="senha">senha: </label>
            <input type="password" name="senha" id="senha" class="form-control" required>
            <br>
            <button class="btn btn-success" type="submit">Entrar</button> <button class="btn btn-success"><a href="/usuarios/esqueceusenha" style="text-decoration: none; color:white">Esqueceu a senha?</a></button>
            <button class="btn btn-success"><a href="/usuarios/registro"style="text-decoration: none; color:white">Cadastre-se</a></button>
        </form>
    </div>
</div>